{% extends 'base.html' %}

{% block title %}List of groups{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>N</th>
            <th>Name</th>
            <th>Headman</th>
            <th>Start date</th>
            <th>End date</th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th><i class="bi bi-trash-fill"></i></th>
        </tr>
        {% for group in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.headman.last_name }} {{ group.headman.first_name }}</td>
            <td>{{ group.start_date }}</td>
            <td>{% if group.end_date %}{{ group.end_date }}{% endif %}</td>
            <td><a href="{% url 'groups:update' group.pk %}">Update</a></td>
            <td><a href="{% url 'groups:delete' group.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
